{% extends 'base.html' %}
{% load l10n %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Список бронирований</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Копия книги</th>
                <th>Читатель</th>
                <th>Дата бронирования</th>
                <th>Дата окончания бронирования</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in sorted_reservations %}
                {% if reservation.status.status_name == 'Закрыта' %}
                    <tr class="table-success">
                        <td>{{ reservation.copy.book.title }} — Копия {{ reservation.copy.copy_number }} ({{ reservation.copy.status.status }})</td>
                        <td>{{ reservation.reader }}</td>
                        <td>{{ reservation.reservation_date|localize }}</td>
                        <td>{{ reservation.reservation_end_date|localize }}</td>
                        <td>Выдано {{ due_date }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ reservation.copy.book.title }} — Копия {{ reservation.copy.copy_number }} ({{ reservation.copy.status.status }})</td>
                        <td>{{ reservation.reader }}</td>
                        <td>{{ reservation.reservation_date|localize }}</td>
                        <td>{{ reservation.reservation_end_date|localize }}</td>
                        <td>
                            <form action="{% url 'issue_book' reservation.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success btn-sm">Выдать</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Нет активных бронирований.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
